@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.App {
  text-align: center;
  scroll-behavior: smooth;
  scroll-margin-top: 2em;
}
html {
  scroll-behavior: smooth;
 
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#67696c; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#282c34;
}

/* Header */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:#98a39f;
  /* padding: 10px; */
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
  overflow: hidden;
}

li {
  margin: 15px;
  text-decoration: none;
  list-style-type: none;
}

.page-links {
  color: white;
  text-decoration: none;
}

.page-links:hover {
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Brittany Signature', serif;
  font-size: 25px;
  animation: fade-in 2s linear;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.dropdowns {
  display: flex;
  flex-direction: row;
  align-self: center;
  overflow: hidden;
}

.dropdowns .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0;
}

/* nav a:hover, .dropdowns:hover .dropbtn, .page-links:hover {
  background-color: #B1BDB9;
  border-radius: 2px;
  color: black;
} */

.dropdowns-content {
  display: none; /*for testing- restore to "none"*/
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1 !important;
}

.dropdowns-content a {
  float: none;
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block !important;
  text-align: left;
}

.dropdowns-content a:hover {
  background-color: #ddd;
}

.dropdowns:hover .dropdowns-content {
  display: block !important;
}

/* Home */

header {
  position: relative;
  bottom: 15px;
  height: 900px;
  max-height: 900px;
  min-height: 700px; 
  width: 100%;
  background:
    url('./assets/header.jpg') 
    no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
}

.quote {
  font-family: 'Cormorant Garamond', serif;
  color: white;
 position: relative;
 top: 500px;
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  margin-bottom: 1px;
  font-size: 35px;
}

#featured {
  background-color: white;
  padding: 90px;
  border-radius: 5px;
}

#featured-text {
  display: flex;
  justify-self: flex-start;
  font-family: 'Brittany Signature', sans-serif;
  margin-left: 20px;
}

#as-featured {
  font-size: 40px;
}

#featured-images {
  display: flex; 
  justify-content: center;
  align-items: center;
  border-bottom: #282c34 solid 1px;
  border-top:#282c34 solid 1px;
  margin: 10px 0px;
}

#box {
  width: 600px;
  float: right;
}

#border-bottom {
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 2px white;
  position: relative;
  top: 500px;
}

.title {
  font-family: 'Brittany Signature', sans-serif;
  font-size: 25px;
  bottom: 245px;
}

#capture {
  background-color: #2f3135;
  padding: 45px;
  margin-left: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}

span {
  font-family: 'Brittany Signature', sans-serif;
  font-size: 80px;
}

#section-one {
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
}

img {
  border-radius: 5px;
}

#three {
  font-family: 'Brittany Signature', sans-serif;
  font-size: 20px;
}

.capture-para {
  font-size: 25px;;
}

#section-two {
  background-color: #B1BDB9;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  padding: 50px;
}

#memories {
  float: right;
  margin: 15px;
}

#section-three {
  display: flex;
  flex-direction: row;
  background-color: #2f3135;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  padding: 60px;

}

#about-section {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-left: solid 2px white;
  padding: 45px;
  align-items: center;
  margin: 0px 40px;
}

#welcome {
  font-size: 80px;
  text-align: center;
}

#description {
font-size: 20px;
text-align: end;
line-height: 50px;
}

#morebtn {
  border: none;
  background-color: #282c34;
  color: white;
  border-radius: 50px;
  font-family: 'Cormorant Garamond', serif;
  padding: 15px 40px;
}

#section-four {
  display: flex;
  flex-direction: row;
  font-family: 'Cormorant Garamond', serif;
  padding: 10px;
}

/* PROBABLY OLD - IN TIME-OUT */
#contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contactbtn {
  background-color: #8D8A83;
  border: none;
  color: white;
  border-radius: 50px;
  font-family: 'Cormorant Garamond', serif;
  padding: 15px 40px;
}

#adventure {
  font-size: 80px;
  padding: 50px
}

#morebtn, #click:hover  {
  background-color: #8D8A83;
}
/* Footer */
.feets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  background-color: #8D8A83;
  padding: 30px;
}

.social-links {
 margin: 15px;
 color: white
}

#smooth-scroll {
  color: white;
  scroll-behavior: smooth;
}

#myBtn {
  background: none;
  border: none;
  color: white;
}

/* Contact */
#contact-page {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#schedule-image {
  background:
  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2522584033613445) 0%),
    url('./assets/schedule.jpeg') 
    no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  height: 500px;
  max-height: 500px;
  min-height: 300px; 
  width: 100%;
}

#schedule-section{
  color: white;
  background-color:#2f3135;
  font-family: 'Brittany Signature', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
}

#schedulequestion {
  font-size: 60px;
}

#click{
  font-size: 15px;
  border: none;
  background-color: #8D8A83;
  color: white;
  border-radius: 50px;
  font-family: 'Cormorant Garamond', serif;
  padding: 15px 40px;
  width: 10%;
  margin: auto;
  margin-top: 15px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 50%;
  padding: 50px;
  font-family: 'Cormorant Garamond', serif;
  border: solid 1px #8D8A83;
  border-radius: 10px;
}


#contact-name, #contact-email {
  margin: 10px;
  border-radius: 5px;
  border: solid 1px #8D8A83;
  padding: 10px
}

#contact-textarea {
  margin: 10px;
  border-radius: 5px;
  border: solid 1px #8D8A83;
  padding: 25px;
  text-align: start;
}

#sendbtn {
  background-color: #8D8A83;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: 'Cormorant Garamond', serif;
  padding: 5px 25px;
  margin: auto;
}

#contactme {
  font-size: 50px;
  color: black;
  animation: none;
}

.block {
padding: 200px;
font-family: 'Cormorant Garamond', serif;
display: flex;
justify-content: space-between;
flex-direction: column;
height: 590px;
max-height: 590px;
min-height: 390px; 
width: 100%;
background:
  url('./assets/line.png') 
  no-repeat;
background-size: cover !important;
-webkit-background-size: cover !important;
margin-bottom: 0px
}

.quotation {
  font-size: 40px;
}

.author {
  font-size: 20px;
  text-align: start;
  position: relative;
  top: 150px;
}

#booking-section {
  /* padding: 200px; */
font-family: 'Cormorant Garamond', serif;
display: flex;
justify-content: flex-end;
align-items: center;
flex-direction: column;
height: 800px;
max-height: 800px;
min-height: 600px; 
width: 100%;
background:
linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2522584033613445) 0%),
  url('./assets/beach2.jpg') 
  no-repeat;
background-size: cover !important;
-webkit-background-size:cover !important;
background-position-y: 70%;
margin-bottom: 0px
}

#booking-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  /* position: relative;
  top: 600px; */
  border: #8D8A83 solid 1px;
  margin: 20px auto;
  font-family: 'Cormorant Garamond', serif;
}

#request {
    /* position: relative;
    top: 590px; */
    color: white;
    font-family: 'Brittany Signature', sans-serif;
    font-weight: 500;
    background-color:#2f3135;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#book {
    font-size: 60px;
    margin-bottom: 40px;
}

#fill {
  font-family: 'Cormorant Garamond', serif;
  background-color: #8D8A83;
  padding: 10px 15px;
  border-radius: 50px;
}

#name-section {
  display: flex;
  flex-direction: row;
}

#first-name, #last-name {
  margin: 0 5px;
  width: 250px;
}

#column-one {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

#column-two {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

select, textarea, input{
  border:#8D8A83 1px solid;
  border-radius: 5px;
  padding: 15px;
}

.myRow {
  display: flex;
  flex-direction: row;
}

#booking-title {
  font-size: 50px;
  color: black;
  animation: none;
}

.text-danger {
  font-size: 30px;
}

label {
  margin: 15px 5px;
}

#submitBtn {
  padding: 5px 25px;
  color: white;
  background-color: #8D8A83;
  font-family: 'Cormorant Garamond', serif;
}

#designed-by {
  text-align: center;
  font-size: 12px;
}

#dreamsite {
  text-decoration: none;
  color:#282c34;
}
/* .radio-label::before {
  content: "";
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
} */

/* About Page */
#about-section-one {
  background-color: #2f3135;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: 'Cormorant Garamond', serif;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#about-img {
  margin: 15px 45px;
}

#story {
  margin: 100px;
  text-align: center;
  width: 700px;
}

#mine {
  font-size: 50px;
  border-bottom: solid 1px white;
  margin-bottom: 30px;

}

#story-paragraph {
  text-align: left;
  width: 700px;
  line-height: 2.0em;
  font-size: 18px;
}

#about-section-two {
  background-color: #B1BDB9;
  font-family: 'Cormorant Garamond', serif;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: space-evenly;
}

#realtalk {
  width: 500px;
  font-weight: 600;
}

#realtalk-title {
  font-size: 50px;
}

#about-list {
  display: flex;
  flex-direction: column;
 align-items: flex-start;
}

#about-section-three {
  padding: 150px;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  justify-content: center;
}

#section-three-paragraph {
  width: 800px;
  text-align: center;
}

#about-section-four {
  height: 800px;
max-height: 800px;
min-height: 600px; 
width: 100%;
background:
linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2522584033613445) 0%),
  url('./assets/camerabench.jpg') 
  no-repeat;
background-size: cover !important;
-webkit-background-size:cover !important;
background-position-y: center;
color: white;
font-family: 'Cormorant Garamond', serif;
display: flex;
flex-direction: row;
padding: 50px;
justify-content: space-evenly;
align-items: center;
}

#schedule-with-me {
  display: flex;
  align-self: flex-start;
  margin: 20px;
}

#schedule-text {
  font-size: 75px;
}

#about-schedule-description {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px;
}

#about-schedule-paragraph {
  font-size: 30px;
}

#schedule-button {
  margin: auto;
  padding: 15px 40px;
  border-radius: 50px;
  border: none;
  background-color:#8D8A83;
  color: white;
}
/* #background-white {
  background-color: white;
  width: 100%;
} */

/* couples */
#couples-section-one, #weddings-section-one {
  display: flex;
  flex-direction: row;
  background-color: #2f3135;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-family: 'Cormorant Garamond', serif;
}

#couples-text, #weddings-text {
  font-size: 25px;
  width: 800px;
}

#couples-title, #weddings-title {
  font-family: 'Brittany Signature', sans-serif;
  font-size: 75px;
}

#weddings-section-two {
  padding: 150px;
}

#weddings-section-three {
  background-color: #B1BDB9;
  padding: 30px;
}

#wedding-images {
  display: flex;
  justify-content: space-evenly;
}

#wedding-quote {
  display: flex;
  flex-direction: column;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  width: 800px;
  margin: 150px auto;
  font-weight: 600;
}

#count-down-header {
  height: 700px;
max-height: 700px;
min-height: 500px; 
width: 100%;
background:
linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2522584033613445) 0%),
  url('./assets/about.png') 
  no-repeat;
background-size: cover !important;
-webkit-background-size:cover !important;
background-position-y: center;
color: white;
font-family: 'Cormorant Garamond', serif;
display: flex;
flex-direction: row;
padding: 50px;
justify-content: space-evenly;
align-items: center;
background-position-y: -550px;
}

#count-down {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 150px;
  font-size: 55px;
  background-color: #2f3135;
  text-align: center;
}

#count-text {
  color: white;
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  width: 600px;
  width: 100%;
  text-align: center;
  padding: 45px;
  border-radius: 5px;
  
}

#count-title {
  font-size: 55px;
  font-family: 'Brittany Signature', sans-serif;
  text-align: center;
}

#time-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.time {
  background-color: rgba(255, 255, 255, 0.943);
  border-radius: 5px;
  padding: 50px;
  font-family: 'Cormorant Garamond', serif;
}

.time-stamp {
  font-size: 25px;
  font-family: 'Brittany Signature', sans-serif;
}

#concerns {
  padding: 150px;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

#concern-title {
  font-family: 'Brittany Signature', sans-serif;
  font-size: 40px;
}

#concernbtn {
  background-color: #282c34;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: 'Cormorant Garamond', serif;
  padding: 5px 25px;
}

@media screen and (max-width: 1665px) {
  #count-down-header {
    background-position-y: -350px;
  }

  #count-down {
    padding: 75px;
  }

  .time {
    padding: 35px;
    margin: 0px 15px;
  }
}

@media screen and (max-width: 1249px) {
  #count-down-header {
    background-position-y: -250px;
  }

  #count-text {
    font-size: 15px;
    margin: 0px 15px;
  }

  #count-title {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1035px) {
  #count-down-header {
    background-position-y: -250px;
  }

  #count-text {
    font-size: 15px;
    margin: 0px 15px;

  }

  #count-down {
    padding: 75px;   
  }

  .time {
    padding: 15px;
    width: 300px;
    margin: 0px 5px;
  }

  #contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  #count-down-header {
    height: 300px;
max-height: 300px;
min-height: 100px; 
  }
}

@media screen and (max-width: 570px) {
  #count-down-header {
    background-position-y: 0px;
  }

  #count-down {
    padding: 5px;
  }

  #count-text {
    margin: 0px 0px;
    padding: 25px;
  }

  .time {
    padding: 5px;
    width: 300px;
    margin: 0px 2px;
  }
  
  #concerns {
    padding: 10px;
    margin: 20px 0px;
  }

  #concern-title {
    font-size: 30px;
  }
}